<!DOCTYPE html>
<html>
<head>
   <title>Mind The Children</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/form-element.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body class="">
    <div id="wrapper">
        <div id="content">
        <div class="container">
           <nav class="navbar navbar-inverse navbar-fixed-top">
                        <div class="container">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="http://mindthechildren.org/">Mind The Children</a>
                            </div>
                            <div>
                                <div class="collapse navbar-collapse" id="myNavbar">
                                    <ul class="nav navbar-nav">
                                        <li><a href="whoWeAre">Who We Are</a></li>
                                        <li><a href="howToHelp">How to Help</a></li>
                                        <li><a href="programs">Programs</a></li>
                                        <li><a href="contact">Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </nav>
            </div>
            <h1>Our Programs</h1>
    <div class="container">
            <div class="row">
            <h2>Center Stage Opera</h2>
            <img id="csoImage" class="" src="/images/CSO.jpg" alt="">
                <div class="" id="">
                    <p>Center Stage Opera was founded on a very clear set of principles. First, of course, the company would bring to The Valley (and beyond) first-rate operatic and Broadway productions and concerts. Reviewer Jonathan Weichsel summed up the critical and audience response CSO has consistently received: "Center Stage Opera is truly one of the gems of the Valley."</p>
                    <p>But CSO is dedicated to community service and education as well, and especially to bringing quality music performances to those who are economically disadvantaged. To this end, The Opera Tree was established as the community service arm of the company. </p>
                    <p>Center Stage Opera presents dozens of smaller programs with piano accompaniment each year, from public recitals to private parties to programs for service organizations and senior residences. CSO’s Amici della Musica dinner-and-song series is particularly popular. Each Amici event features several talented singers performing favorites from opera, Broadway, jazz standards, and soft rock, while patrons dine at one of the Valley's premier restaurants. The company has provided musical entertainment at little or no charge for dozens of other non-profits’ benefit events, and even has it’s own rock band!</p>
                    <p>In so many ways, Center Stage Opera truly is “The Musical Heart Of The Valley”.</p>
                    <p>For further information about Center Stage Opera, contact Jerry Brown, General Director, at 818-517-4102, or via e-mail at jbrown@centerstageopera.org.</p>
                </div>
            </div>

            <div class="row">
                <div class="" id="">
                    <img id="romeoAndJuliet" class="" src="/images/romeoAndJuliet.jpg" alt="">
                </div>
            </div>

            <div class="row">
                <div class="" id="">
                <h2>Annual Fundraiser 2017</h2>
                <p>*TBD</p>
                </div>
            </div>

            <div class="row">
                <div class="" id="">
                <h2>Summer Camp</h2>
                <p>*TBD</p>
                </div>
            </div>

            <div class="row">
                <div class="" id="">
                <h2>Little League Football Training</h2>
                <p>*TBD</p>
                </div>
            </div>
    </div>
        </div>
                 <div id="footer">
               <div class="container"> 
               <p id="footerText"> © 2017 All Rights Reserved Mind the Children is a 501(3)(c)
               </p>
              </div>
              <div class="container">
                    <a href="https://www.linkedin.com/in/nogol-pedram-ms-484b8255/" target="_blank">
                        <img src="/images/linkedinIcon.png" id="linkedinIcon"></a>
                    <a href="https://www.facebook.com/queengogo" target="_blank">
                        <img src="/images/facebookIcon.png" id="facebookIcon">
                    </a>
              </div>
            </div>
    </div>
</body>
</html>