<!DOCTYPE html>
<html>
<head>
   <title>Mind The Children</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/form-element.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body class="whoWeAreColor">
    <div id="wrapper">
        <div id="content">
           
                     <nav class="navbar navbar-inverse navbar-fixed-top">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="http://mindthechildren.org/">Mind The Children</a>
                            </div>
                            <div>
                                <div class="collapse navbar-collapse" id="myNavbar">
                                    <ul class="nav navbar-nav">
                                        <li><a href="whoWeAre">Who We Are</a></li>
                                        <li><a href="howToHelp">How to Help</a></li>
                                        <li><a href="programs">Programs</a></li>
                                        <li><a href="contact">Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </nav>

        <div class="container">
            <div class="row">
                <div class="col-sm-6">  
                    <h1>About us</h1>
                    <p>Mind the Children assists homeless and disadvantaged children to participate in after-school programs and sports activities. </p>
                    <p id="aboutText">Children who lack stable home are vulnerable to a number of adverse outcomes. Major threats, such as poverty and hunger, may precede episodes of homelessness; others stem directly from living without a home. Homeless children are more likely than other children to have moderate to severe acute and chronic health problems. Other problems such as hyperactivity, inattention, and behavioral problems are prevalent among this group. A quarter or more of homeless children have witnessed violence, and more than half have problems with anxiety and depression. A number of factors contribute to homelessness among children and youth. The chief factors are mental illness, substance abuse, and lack of affordable housing. Our mission is to provide High-quality early childhood education programs to enrich learning and nurturing the environments of disadvantaged children and youth. Early childhood education will improve the early-life of disadvantaged children, which in turn boosts a variety of early-life skills and later-life achievements. </p>
                </div>
             <div class="col-sm-6">
             <img id="image4" class="" src="/images/image4.jpeg" alt="">
             </div>
            </div>
         </div>  
           </div>
            <div id="footer">
                
               <p id="footerText"> © 2017 All Rights Reserved Mind the Children is a 501(3)(c)
                    <a href="https://www.linkedin.com/in/nogol-pedram-ms-484b8255/" target="_blank">
                        <img src="/images/linkedinIcon.png" id="linkedinIcon"></a>
                    <a href="https://www.facebook.com/queengogo" target="_blank">
                        <img src="/images/facebookIcon.png" id="facebookIcon">
                    </a>
                </p>
            </div>
        
    </div>

</body>

</html>